@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header-home {  
    background: url(../imgs/header-pattern.png) #21295B no-repeat bottom center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
.suggestions {
    z-index: 1;
}
.suggestion-item{
    padding: 7px 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2); 
    font-size: 12px;
    line-height: 14px;
}
.news {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: calc(100% - 300px);
    }

    @media screen and (min-width: 1024px) {
        width: calc(100% - 400px);
    } 
}

.weather {
    background: url(../imgs/weather-bg.jpg) no-repeat center center;
    background-size: cover;
}

.bg-about {
    background: url(../imgs/about-bg.png) no-repeat center 120%;
    /* background-size: cover; */
}

.bg-bubble {
    background: url(../imgs/service-bg.png) no-repeat bottom right;
}

.news-carousel .slick-slide img {
    width: 100%;
}

header {
    @media screen and (max-width: 1023px) {
        flex-wrap: wrap;

        .nav {
            order: 3;
            width: 100%;

            .search {
                width: 100%;

                input {
                    width: 100%;
                }
            }

            .menu {
                background-color: #fff;
                width: 100%;

                li {
                    a {
                        padding: 5px 10px;
                        display: block;
                        color: #000
                    }

                    &.active {
                        a {
                            background-color: #91193b;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}